.sharing-component {
  cursor: pointer;
  font-weight: 900;
  font-size: 22px;
  text-align: right;
}

.sharing-testlink {
  margin: 25px;
  background: ghostwhite;
  padding: 20px;
}
.sharing-tab-active {
  background-color: lightblue;
}
